--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
--extra-index-url https://pypi.taichi.graphics/simple/ 
taichi-nightly
beartype
tqdm
opencv-python
numpy
tensordict
packaging